#js-product-list-header
{
    text-align: center;
    margin: 10px 0;
    font-weight: 900;
    font-size: 54px;
}

#best-sales,#new-products,#prices-drop {
  #wrapper
  {
    .container{
      .row{
        display: flex;
        justify-content: center;
      }
    }   
  }
} 

